
    <mat-card class="container">
        <mat-card-header>
            <h1 class="h1">Post-Create</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input [(ngModel)]="enteredTitle" matInput placeholder="Title">
            </mat-form-field>
            <mat-form-field>
                <textarea rows="10" [(ngModel)]="enteredContent" [ngModelOptions]="{standalone: true}" matInput placeholder="Content"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            
            <button mat-raised-button color="primary" (click)="onAddPost()">Save</button>
        </mat-card-actions>

        <mat-card-footer>
            <p>  &#169; All rights reserve</p>
        </mat-card-footer>
    </mat-card>

    
   
    


