mat-spinner{  
    margin: auto;  
  }  
  .post-image{  
    width: 100;  
  }  
    
  .post-image img{  
    width: 100;  
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);  
  }  

  mat-paginator{  
    margin-top: 1rem;  
  }  

  .search-bar {
  width: 100%;
  margin: 1rem 0;
}

.search-bar mat-form-field {
  width: 100%;
}

/* Dark Mode */
/* post-list.component.css */
:host {
  display: block;
  background-color: inherit;
}

.post-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

mat-paginator{
  background-color: inherit;
}